@model AssetManagement.Models.Asset

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Asset</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TelephoneId" class="control-label">Telephone</label>
                <select asp-for="TelephoneId" class ="form-control" asp-items="ViewBag.TelephoneId"></select>
            </div>
            <div class="form-group">
                <label asp-for="ExtensionId" class="control-label">Extension</label>
                <select asp-for="ExtensionId" class ="form-control" asp-items="ViewBag.ExtensionId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
